<div id="result">
    <% result.forEach(item => { %>
        <% if (item.status > 399) { %>
            <div class="flex bg-red-400 my-8 px-12 py-4 text-2xl">
                <p class="mr-4 basis-1/2">URI: <%= item.uri %> </p>
                <p class="mr-4">STATUS: <%= item.status %> </p>
                <p>LENGTH: <%= item.byteLength %> </p>
            </div>
        <% } else { %>
            <div class="flex bg-green-400 my-8 px-12 py-4 text-2xl">
                <p class="mr-4 basis-1/2">URI: <%= item.uri %> </p>
                <p class="mr-4">STATUS: <%= item.status %> </p>
                <p>LENGTH: <%= item.byteLength %> </p>
            </div>
        <% } %>
    <% }) %>
</div>